.icon-container {
    font-size: 60px;
}

.online {
    color: green;
    ;
}

.offline {
    color: red;
}

.list-user {
    border: 1px solid gray;
    margin: 10px;
    padding: 5px
}

.user-item {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin: 1px;
}

.user-item-infos {
    display: flex;
    align-items: center;
}

.icon-status {
    margin: 5px 10px;
}

.icon-owner {
    padding: 8px 10px;
    float: right;
    font-size: 10px;
    color: orange;
}