.icon-container {
    font-size: 60px;
}

.online {
    color: green;
    ;
}

.offline {
    color: red;
}

.list-user {
    align-items: baseline;
}

.user-item {
    font-size: 20px;
    padding: 10px;
}

.icon-status {
    margin: 5px 10px;
}

.icon-owner { 
    padding: 8px 10px;
    float: right;
    font-size: 10px;
    color: orange;
}

.icon-remove-user {
    margin: 0 20px;
}